extends ../shared/template
block content
  .panel.panel-default
    .panel-body
    .row
      .col-xs-4
        h2 user.alias
        .col-xs-4
          ul.list-inline
            li
              h5 user.age
            li
              h5 user.gender
            li
              h5 user.location
      .col-xs-2
        a.thumbnail#alias(href='#')
          img(src='/img/node.png')
        .col-xs-2.col-xs-offset-1
          span.glyphicon.glyphicon-heart
      .col-xs-4

    button.btn.btn-default.btn-(data-toggle='modal', data-target='#newMessage') Message
    include newMessage
    a.btn.btn-default.btn(href='/gifts') Gift
    //button.btn.btn-default.btn-(data-toggle='modal', data-target='#gift') Gift
    //include checkout
    button.btn.btn-default.btn-(data-toggle='modal', data-target='wink') Wink
      span.glyphicon.glyphicon-eye-open
  .row
    .col-xs-12
  .panel.panel-default
    .panel-heading
        h3.panel-title About # {client.alias}
      .panel-body
        h6 This is the About Me Section of the Profile Page
  .row
    .col-xs-12
      .c-wrapper
      #carousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouse', data-slide-to='0')
          li.active(data-target='#carousel', data-slide-to='1')
          li.active(data-target='#carousel', data-slide-to='2')
        .carousel-inner
          .item.active
            img(src='/img/node.png')
          .item
            img(src='/img/node.png')
        a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href='#carousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-right




block scripts
