// TRIGGER
a.pull-right.fa.fa-edit(href='#', data-toggle='modal', data-target='#editDetails')
// MODAL
#editDetails.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editDetailsLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4#editDetailsLabel.modal-title Edit your details
      .modal-body
        form.form-horizontal#details_form(role='form', method='post', action='/profile/details')
          input(type='hidden', name='_method', value='put')
          .form-group
            label.col-xs-2.control-label(for='orientation') Orientation
            .col-xs-10
              select#orientation(name='orientation')
                option(selected='') —
                option(value='S') Straight
                option(value='G') Gay
                option(value='B') Bisexual
          .form-group
            label.col-xs-2.control-label(for='feet') Height
            .col-xs-5
              select#feet(name='feet')
                option(selected='') —
                option 7
                option 6
                option 5
                option 4
                option 3
              label.input_separator(for='feet') &nbsp; feet &nbsp;&nbsp;
              select#inches(name='inches')
                option(selected='') —
                option 0
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
                option 9
                option 10
                option 11
              label.input_separator(for='inches') &nbsp; inches
          .form-group
            label.col-xs-2.control-label(for='bodyType') Body Type
            .col-xs-10
              select#bodyType(name='bodyType')
                option(selected='') —
                option Rather not say
                option Thin
                option Overweight
                option Skinny
                option Average
                option Fit
                option Athletic
                option Jacked
                option A little extra
                option Curvy
                option Full figured
                option Used up
          .form-group
            label.col-xs-2.control-label(for='diet') Diet
            .col-xs-10
              select#diet(name='diet')
                option —
                option anything
                option halal
                option kosher
                option vegan
                option vegetarian
                option other
          .form-group
            label.col-xs-2.control-label(for='smoking') Smokes
            .col-xs-10
              select#smoking(name='smoking')
                option(selected='') —
                option Yes
                option Sometimes
                option When drinking
                option Trying to quit
                option No
          .form-group
            label.col-xs-2.control-label(for='drinking') Drinks
            .col-xs-10
              select#drinking(name='drinking')
                option(selected='') —
                option Very often
                option Often
                option Socially
                option Rarely
                option Desperately
                option Not at all
          .form-group
            label.col-xs-2.control-label(for='drug') Drug of Choice
            .col-xs-10
              select#drug(name='drug')
                option(selected='') —
                optgroup(label='Narcotics')
                  option Heroin
                  option Hydromorphone
                  option Methadone
                  option Morphine
                  option Opium
                  option Oxycodone
                optgroup(label='Stimulants')
                  option Amphetamines
                  option Cocaine
                  option Khat
                  option Methamphetamine
                optgroup(label='Depressants')
                  option Barbiturates
                  option Benzodiazepines
                  option GHB
                  option Rohypnol
                optgroup(label='Hallucinogens')
                  option Ecstasy / MDMA
                  option K2 / Spice
                  option Ketamine
                  option LSD
                  option Peyote & Mescaline
                  option Psilocybin
                  option Marijuana / Cannabis
                  option Steroids
                  option Inhalants
                optgroup(label='Other')
                  option Bath Salts / Designer Cathinones
                  option DXM
                  option Salvia Divinorum
          .form-group
            label.col-xs-2.control-label(for='religion') Religion
            .col-xs-10
              select#religion(name='religion')
                option(selected='') —
                option Agnosticism
                option Atheism
                option Christianity
                option Judaism
                option Catholicism
                option Islam
                option Hinduism
                option Buddhism
                option Other
              select#religionSerious(name='religionSerious')
                option(selected='') —
                option and very serious about it
                option and somewhat serious about it
                option but not too serious about it
                option and laughing about it
          .form-group
            label.col-xs-2.control-label(for='sign') Sign
            .col-xs-10
              select#sign(name='sign')
                option(selected='') —
                option Aquarius
                option Pisces
                option Aries
                option Taurus
                option Gemini
                option Cancer
                option Leo
                option Virgo
                option Libra
                option Scorpio
                option Sagittarius
                option Capricorn
              select#signSerious(name='signSerious')
                option(selected='') —
                option but it doesn't matter
                option and it matters a lot
                option and it is fun to think about
          .form-group
            label.col-xs-2.control-label(for='educationStatus') Education
            .col-xs-10
              select#educationStatus(name='educationStatus')
                option(selected='') —
                option Graduated from
                option Working on
                option Dropped out of
              select#educationLevel(name='educationLevel')
                option(selected='') —
                option high school
                option acting school
                option two-year college
                option university
                option masters program
                option law school
                option med school
                option Ph.D program
                option space camp
                option school of hard knocks
          .form-group
            label.col-xs-2.control-label(for='job') Ulmer Status
            .col-xs-10
              select#ulmer(name='ulmer')
                option(selected='') —
                option A
                option B
                option C
                option D
                option Z (What am I doing with my life?!)
            label.col-xs-2.control-label.input_separator(for='ulmer')-List
          .form-group
            label.col-xs-2.control-label(for='income') Income
            .col-xs-10
              select#income(name='income')
                option(selected='')  —
                option  Less than $20,000
                option  $20,000–$30,000
                option  $30,000–$40,000
                option  $40,000–$50,000
                option  $50,000–$60,000
                option  $60,000–$70,000
                option  $70,000–$80,000
                option  $80,000–$100,000
                option  $100,000–$150,000
                option  $150,000–$250,000
                option  $250,000–$500,000
                option  $500,000–$1,000,000
                option  More than $1,000,000
                option  Rather not say
          .form-group
            label.col-xs-2.control-label(for='relationshipStatus') Relationship Status
            .col-xs-10
              select#relationshipStatus(name='relationshipStatus')
                option(selected='') -
                option Its complicated
                option Single
                option Seeing someone
                option Married
                option In an open relationship
          .form-group
            label.col-xs-2.control-label(for='monogamous') Relationship Type
            .col-xs-10
              select#monogamyFlex(name='monogamyFlex')
                option —
                option Mostly
                option Strictly
              select#monogamous(name='monogamous')
                option —
                option monogamous
                option non-monogamous
          .form-group
            label.col-xs-2.control-label(for='childrenQ1') Offspring
            .col-xs-10
              select#childrenQ1(name='children')
                option(selected='')  —
                option  Has a kid
                option  Has kids
                option  Doesn’t have kids
              select#childrenQ2(name='children2')
                option(selected='') —
                option Might want kids
                option Wants kids
                option Doesn’t want kids
          .form-group
            label.col-xs-2.control-label(for='dogs') Pets
            .col-xs-10
              select#dogs(name='dogs')
                option(selected='')  —
                option  Has dogs
                option  Likes dogs
                option  Dislikes dogs
              select#cats(name='cats')
                option(selected='')  —
                option  Has cats
                option  Likes cats
                option  Dislikes cats
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-success(type='submit') Save changes
