extends ../shared/template
block content
  .panel.panel-default
    .panel-body
      .row
        .col-xs-12
          .panel.panel-default
            .panel-body
              .row
                .col-xs-12
                  form#searchForm.form-horizontal(role='form', method='post', action='/search/custom')
                    h4 Show Me:
                    .row
                      .col-xs-12
                        .form-group
                          .col-sm-12
                            select.form-control(name='gentation')
                              option(value='M-S') Girls Who Like Guys
                              option(value='F-G') Girls Who Like Girls
                              option(value='F-S') Guys Who Like Girls
                              option(value='M-G') Guys Who Like Guys
                        .form-group
                          .col-sm-12
                            select.form-control(name='age')
                              option(value='') Any
                              option(value='18-25') Ages 18 - 25
                              option(value='26-35') Ages 26 - 35
                              option(value='36-45') Ages 36 - 45
                              option(value='46-200') Ages > 46
                    h4 Order By:
                    .row
                      .col-xs-12
                        .form-group
                          .col-sm-12
                            select.form-control(name='distance')
                              option(value='') Order By Distance
                              option(value='D-A') Nearest to Farthest
                              option(value='D-D') Farthest to Nearest
                        .form-group
                          .col-sm-12
                            select.form-control(name='orderAge')
                              option(value='') Order By Age
                              option(value='A-A') Youngest to Oldest
                              option(value='A-D') Oldest to Youngest
                    button.btn.btn-primary#search(type='button') Search
      .row
        .col-xs-12
          .panel.panel-default
            .panel-body#results
              include search-results

block scripts
  script(src='/js/user/users-index.js')
