extends ../shared/template
block content
  .row
    .col-xs-12
      table.table-condensed.table-hover.users
        thead
          th Photo
          th Name
          th Location
        tbody
          each user in users
            tr
              td
              td
              td

block scripts
