extends ../shared/template
block content
  .panel.panel-default
    .panel-body
    .row
      .col-xs-2
        a.thumbnail#profile(href='/profile/photos')
          img(src='/img/node.png')
      .col-xs-6
        h2= user.alias
        ul.list-inline
          li
            h5= user.age
          li
            h5= user.gender
          li
            h5= user.location
      .col-xs-2

  .panel.panel-info
    .panel-heading
        h3#about.panel-title About Me
      .panel-body
        h6 This is the About Me Section of the Profile Page





block scripts
