.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') CelebriDate

    .collapse.navbar-collapse#navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if user
          li: a(href='/search'): span.fa.fa-search &nbsp Find Celebs
          li: a(href='/Profile'): span.fa.fa-user &nbsp Profile
          li: a(href='/messages')
            span.fa.fa-envelope &nbsp Inbox &nbsp;
            span.badge= 0
          li
            form.navbar-form(method='post', action='/logout')
              .form-group
                input(type='hidden', name='_method', value='delete')
                button.btn.btn-danger Log Out
        else
          li: a(href='/register') Register
          li: a(href='/login') Login
          li: a(href='/auth/google'): span.fa.fa-google
          li: a(href='/auth/facebook'): span.fa.fa-facebook

