extends ../shared/template
block content
  .container
    #banner.page-header
        h1#tagline Because Celebrities Need Love Too.
    .bs-component
      .jumbotron
          a.btn.btn-info.btn-lg(href='/register') Register

block scripts
