@import url(http://fonts.googleapis.com/css?family=Codystar);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {

}

.navbar{
  height: 55px;
}

.navbar-default .navbar-nav>li>a {
font-size: 15px;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
  margin-right: 0;
  margin-left: 0;
  margin-top: 6px;
}

.navbar-brand{
  font-family: 'Codystar', cursive;
  font-size: 50px;
  font-weight: bold;
}
.navbar-default .navbar-brand {
  color: #FFE87F;
  font-weight: bold;
  position: absolute;
}

#messagesTable{
  height: 190px;
  overflow: scroll;
}
#winksTable{
  height: 190px;
  overflow: scroll;
}
#proposalsTable{
  height: 190px;
  overflow: scroll;
}

#close {
  float: left;
}

#cart {
  display: inline-block;
}

#giftImg img {
  max-height: 100px;
  max-width: 100px;
}

#index {
  background-color: rgba(0,0,0,.2);
  border-radius: 4%;
  font-family: 'Open Sans Condensed', sans-serif;
  box-shadow: 6px 23px 31px -2px rgba(0,0,0,0.75);
  }
  thead {
    background-color: white;
    color: black;
  }
  td, th {
    text-align: center;
}

div.c-wrapper{
  width: 80%; /* for example */
  margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
  width: 100%; /* use this, or not */
  margin: auto;
}

.gifts {
  background-image: url('/img/cart.jpg');
  background-size: cover;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  margin: 0;
}

textarea.modal-body {
  width: 100%;
}
