@import url(http://fonts.googleapis.com/css?family=Oswald);

body {

}

ul.list-inline {
  display: inline-block;
  padding: 5px;
}

a.thumbnail {
  background-size: cover;
  height: 100px;
  width: 100px;
}

#profile {
  margin: 2px;
  padding: 2px;
}

#about {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

#alias {
  background-size: cover;
  height: 100px;
  width: 100px;
}

textarea {
  width:100%;
}
